html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
}

.child-container {
    border: 0;
    margin: 0;
    height: 1vh;
    flex: 1 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.15s, color 0.2s, transform 0.4s;
}

.child-container:hover {
    background-color: #f1f1f1;
    color: #333;
  }

.pixelated {
    background-color: #333;
    /*background-image: url('pixel-fire.webp');*/
    animation: pixel-trail linear;
}

@keyframes pixel-trail {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.drawing {
    background-color: #333;
}

